.CodeMirror.xml_editor {
    font-family: 'Consolas', monospace;
}

.CodeMirror {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    border: 2px dotted #ccc;
    width: 300px;
    display: inline-block;
    margin: 10px;
    height: 500px;
}
.MouseHoverMatch {
    color: #00c;
}
.CursorMatch {
    color: #33f;
}
.cut {
     border-bottom: 1px dotted #aaa;
     border-top: 1px dotted #aaa;
     background: #ddd
}
