
.CodeMirror, body {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.CodeMirror.cm_xml {
    font-family: 'Consolas', monospace;
    width: 98%;
    height: 400px;
    display: none;
}

.CodeMirrors {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.CodeMirrors > *:not(:last-child) {
    margin-right: 5px;
}

.CodeMirror {
    border: 1px solid #ddd;
    height: 300px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    flex-basis: 0;
    min-width: 250px;
}

.MouseHoverMatch {
    color: #00c;
}
.CursorMatch {
    color: #33f;
}
.cut {
     border-bottom: 1px dotted #aaa;
     border-top: 1px dotted #aaa;
     background: #ddddd88;
}

.vertical {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
}

.grow {
    flex-grow: 1;
}

.margin {
    margin: 10px;
}

.FlexWrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.MarginRight {
    margin-right: 40px;
}

