.Insert {
    color: #090;
}

.Delete {
    color: #d00;
    text-decoration: line-through;
}

.Dragged {
    background-color: #87ceeb;
    text-decoration: line-through;
}

.Dropped {
    background-color: #87ceeb;
}

.Subscript {
    position: relative;
    bottom: -0.5em;
    font-size: 65%;
    padding-left: 1px;
}

.CodeMirror.xml_editor {
    font-family: 'Consolas', monospace;
    width: 98%;
    height: 600px;
}

.CodeMirror {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    border: 1px solid #ddd;
    width: 32%;
    display: inline-block;
    margin-right: 1%;
    height: 300px;
    min-width: 250px;
}
.MouseHoverMatch {
    color: #00c;
}
.CursorMatch {
    color: #33f;
}
.cut {
     border-bottom: 1px dotted #aaa;
     border-top: 1px dotted #aaa;
     background: #ddd
}

html, body {
    height: 100%;
    margin: 0px;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

.vertical {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.grow {
    flex-grow: 1;
}

.margin {
    margin: 10px;
}

.ladder-cell {
    margin: 10px;
    align-self: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
